{% extends 'base.html' %}

{% block title %}
    Country and Cities
  {% endblock %}

{% block content %}
<div class="w3layouts-banner-info" >
    <div class="form-group">
    <label for="input-datalist">Country and Cities</label>
    <input type="text" class="form-control" placeholder="Country" list="list-country" id="input-datalist">
    <datalist id="list-country">

        {% for place in country_and_cities %}

        <option>{{ place }}</option>


        {% endfor %}

    </datalist>
</div>

<script>
    document.addEventListener('DOMContentLoaded', e => {
        $('#input-datalist').autocomplete()
    }, false);
</script>


</div>
{% endblock %}
