{% extends 'base.html' %}

{% block title %}
    Recommendations
  {% endblock %}

{% block content %}
<div class="w3layouts-banner-info" style="padding-top:9em">
    <form action="/recommendations" method="get">

        <div class="d-flex flex-column gap-3" style="width: fit-content">
            <h1 class="text-white">Recommendations</h1>

            <div class="form-group">
                            <label class="text-white mb-2" for="country">Country and Cities</label>
                            <input type="text" class="form-control" placeholder="Country" list="list-country" name="country" id="country">
                            <datalist id="list-country">

                            {% for place in data.country_and_cities %}

                            <option value= "{{ place.title() }}">{{ place.title() }}</option>

                            {% endfor %}

                            </datalist>

                            <script>
                                document.addEventListener('DOMContentLoaded', e => {
                                    $('#country').autocomplete()
                                }, false);
                            </script>
                        </div>

            <div>
        <label class="form-label text-white" for="season">Season:</label>

        <select class="form-select form-select-sm" id="season" name="season">
        <option value="summer">Summer</option>
        <option value="spring">Spring</option>
        <option value="autumn">Autumn</option>
        <option value="winter">Winter</option>
        </select>
  </div>

        <input class="btn btn-dark rounded-pill" type="submit" value="Get Recommendations">
        </div>
    </form>
           {% if data.recommendations and not error_message %}
                <h2 class="text-white">Recommendations: to {{data.country.title()}} when the season is {{data.season.title()}} </h2>
                {% for recommended in data.recommendations %}
                    <br>
                    <ul>
                        <p class="alert alert-primary">{{ recommended }}</p>
                            <br>
                     </ul>
                {% endfor %}
           {% endif %}

           {% if error_message %}
                <div style="color: red;">
                    <br>
                        {% for error in error_message %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
           {% endif %}

</div>
{% endblock %}
